<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926714473852-of4p6tas3253e9nluacnq224u41a7id7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926714473852-of4p6tas3253e9nluacnq224u41a7id7</string>
	<key>API_KEY</key>
	<string>AIzaSyB5T1KB5JVH9JvGcT_yckddwmT-cpHcyC0</string>
	<key>GCM_SENDER_ID</key>
	<string>926714473852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simran.Group-F-Protective-App-IOS</string>
	<key>PROJECT_ID</key>
	<string>new-protective-app</string>
	<key>STORAGE_BUCKET</key>
	<string>new-protective-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:926714473852:ios:5a09fe84476542ef8588f9</string>
	<key>DATABASE_URL</key>
	<string>https://new-protective-app.firebaseio.com</string>
</dict>
</plist>
